:root{
    
$white: #ffffff;
$tint: #0074d3;
$shade:rgba(#0074d3, 0.6);
$dark: #002c76;
$grad: linear-gradient(to bottom, #0074d3, #0040a8);
$bkgt: #EAF5FD;
$constrastinv: #333;
$outborder: rgba(167,205, 255, 0.5);
}