.calendar {
  display: flex;
  flex-direction: column;
  &__input {
    display: flex;
    flex-direction: row;
    border-radius: 0.3rem;
    box-shadow: 0 0 2px 4px gray;
    background-color: white;
    width: auto;
    justify-content: space-around;
    height: 2rem;
    align-items: center;
    cursor: pointer;
  }
  &__card {
    box-shadow: 0 0 2px 4px gray;
    border-radius: 0.3rem;
    width: auto;
    height: auto;
    background-color: #d6d6d6;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__item {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    cursor: pointer;
    &-day{
        grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    }
  }
}
